<div class="conatiner header_ghost " {{#if @blog_cover}} style="background-image:url({{@blog_cover}});" {{/if}} >
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<img class="logo_ghost" src="{{@blog.logo}}" alt="Blog Logo">
		</div>
		<div class="col-md-6 col-md-offset-2 blog_title_ghost">
			<a href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
		
		</div>

	</div>
	<hr />
	<hr />
</div>